Package: wifirover
Version: 2018-04-4
Section: base
Priority: optional
Architecture: all
Depends: dnsmasq, sudo, openvpn
Replaces: lighttpd,dnsmasq,sudo,php5-cgi, ubnt-util, ubnt-gui-common
Maintainer: Olivier FONTES <olivier@altsysnet.com>
Description: Portail Wifi Rover
